[flake8]

# List files to exclude, one per line, comma separated, e.g.
#   vane/file1.py,
#   vane/file2.py
exclude =

# List errors and warnings to ignore (comma after error number, followed by short description)
ignore =
    # do not use bare 'except'
    E722,
    # f-string missing placeholders
    F541,
    # line break before binary operator
    W503,

# Set maximum line length
max-line-length = 100
