# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# vim
*.swp

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
rpmbuild

# Temporary and binary files
*~
~*
*.cfg
!setup.cfg
*.orig
*.log
*.pot
.cache/*
.*.docx
*/.ipynb_checkpoints/*
*.DS_Store
*.docx
*.csv

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST
venv
tests/systests/fixtures/reports/*
