cvprac
jinja2
mdutils
netmiko
openpyxl
pyeapi
python-docx
pyyaml

# Dev
black==23.1.0
coverage
coverage-badge
flake8==6.0.0
mypy
pylint==2.17.0

# pytest plugins
pytest
pytest-cache
pytest-cov
pytest-excel
pytest-html
pytest-json
#pytest-spec
pytest-xdist
