- name: nrfu_tests
  testcases:
    - name: test_
      description:
      test_id: NRFU1.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU1.2
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_redundant_sso_card
      description: Test case for the verification of redundant supervisor card.
      test_id: NRFU1.3
      show_cmd: null
      expected_output:
        sso_protocol_details:
          configured_protocol: sso
          operational_protocol: sso
          switch_over_ready: True
      test_criteria: Redundancy SSO protocol should be configured, operational and ready for switchover.
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU1.4
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU2.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU2.2
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU2.3
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_interfaces_mlag_status
      description: Testcase for verification of MLAG functionality.
      test_id: NRFU2.4
      show_cmd: show mlag
      expected_output: null
      test_criteria: MLAG should be configured as active, connected and consistent on the device.
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU2.5
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_port_channel_member_interface_details
      description: Testcases to verify that port channel member interfaces should be collecting and distributing.
      test_id: NRFU2.6
      show_cmd: show lacp interface all-ports
      expected_output: null
      test_criteria: All the port channel members interfaces should be collecting and distributing.
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU3.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU4.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU4.2
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU4.3
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU4.4
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.2
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_eos_no_config_functionality
      description: Testcases for verification of security root port "EOS no configurations" functionality.
      test_id: NRFU5.3
      show_cmd: show lldp neighbors detail
      expected_output: null
      test_criteria: Localhost should not be found in the LLDP neighbor information on device.
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.4
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.5
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_security_rp_ssh_access_list
      description: Test case to verify that ACL is configured for each VRF on which SSH is enabled
      test_id: NRFU5.6
      show_cmds:
        - show vrf
        - show management ssh ip access-list summary
      expected_output: null
      test_criteria: All VRFs that the API is active on should have an ACL to be configured.
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.7
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.8
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.2
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_hardware_core_dump_files
      description: Test case for verification of core dump files
      test_id: NRFU6.3
      show_cmd: show system coredump
      expected_output:
        core_dump_files_not_found: True
      test_criteria: Core dump files should not be found on the device.
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.4
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.5
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.6
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.7
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.8
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.9
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.10
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.11
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
