- name: nrfu_tests
  testcases:
    - name: test_
      description:
      test_id: NRFU1.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU1.2
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU1.3
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU1.4
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU2.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU2.2
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU2.3
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU2.4
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU2.5
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU2.6
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU3.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU4.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU4.2
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU4.3
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU4.4
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.2
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.3
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.4
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.5
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.6
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.7
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU5.8
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.1
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.2
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.3
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.4
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.5
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.6
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.7
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.8
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.9
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.10
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
    - name: test_
      description:
      test_id: NRFU6.11
      show_cmd: null
      expected_output: null
      report_style: modern
      criteria: {{ global_dut_filter.criteria }}
      filter: {{ global_dut_filter.filter }}
