{% for dut in duts -%}
[connection:{{ dut.name }}]
host: {{ dut.mgmt_ip }}
username: {{ dut.username }}
{% if dut.password %}
password: {{ dut.password }}
{% else %}
password:
{% endif %}
transport: {{ dut.transport}}

{% endfor -%}